.search-button {
  border: none;
  background-color: blue;
  color: white;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.disabled-button {
  background-color: rgb(197, 197, 197);
  cursor: default;
}
